.notification-panel {
  position: fixed;        
  left: 310px;            
  top: 120px;

  width: 300px;
  max-height: 400px;
  overflow-y: auto;

  background: white;
  border-radius: 14px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.15);

  padding: 12px;
  z-index: 99999;         
}
