 .taskbar{
    padding:16px 0;
}
.breadcrum-line a{
    color:#0d6efd;
    font-weight:500;
}
.project-title{
    margin:8px 0;
    font-weight:600;
}
.meta-line span{
    color:#6c757d;
    font-size:14px;
}
.nav-line{
    padding:0;
    margin-top:12px;
}
.nav-line li{
    list-style:none;
}
.nav-line a{
    text-decoration:none;
    font-weight:500;
    color:#495057;
}
.nav-line a:hover{
    color:#0d6efd;
}
.main-div{
    padding-left: 170px;
} 

