.login-overlay {
  position: fixed;
  inset: 0;
  background: rgba(15, 23, 42, 0.55);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.login-card {
  width: 340px;
  background: #fff;
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.25);
  animation: fadeSlide 0.35s ease;
  position: relative;
}

@keyframes fadeSlide {
  from {
    opacity: 0;
    transform: translateY(15px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.login-card h2 {
  margin: 0;
  font-size: 22px;
}

.login-card p {
  margin: 6px 0 16px;
  font-size: 14px;
  color: #64748b;
}

.error-text {
  color: #ef4444;
  font-size: 13px;
  margin-bottom: 10px;
}

.input-box {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #f1f5f9;
  padding: 10px 12px;
  border-radius: 10px;
  margin-bottom: 12px;
  
}

.input-icon {
  color: #6366f1;
}

.input-box input {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  font-size: 14px;
  color:black
}

.login-btn {
  width: 100%;
  background: #6366f1;
  color: #fff;
  border: none;
  padding: 11px;
  border-radius: 12px;
  font-size: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.login-btn:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.close-btn {
  position: absolute;
  top: 14px;
  right: 16px;
  cursor: pointer;
  font-size: 18px;
}
.otp-box {
  display: flex;
  gap: 8px;
  align-items: center;
}

.otp-btn {
  background: #ff4d6d;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 12px;
}

.otp-success {
  color: green;
  text-align: center;
  font-size: 13px;
}